.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #26b4e6;
}

/* add scroll */
nav ul {
  height:100%; width:22%;
  overflow:hidden; overflow-y:scroll;
}

#search_result {
  height: 40%;
  padding-top: 10px;
  padding-bottom: 15px;
}

ul {
  list-style: none;
}

.list_button {
  width: 100%;
  border: none;
  color: black;
  padding: 10px;
  background-color: #9dd0de;
}

.list_button:hover {
  background-color: black;
  color: white;
}

.list_div {
  width: 100%;
}
